@import "general.scss";

.header--container {
    display: grid;
    grid-template-columns: 277px 1fr auto 65px;
    box-sizing: border-box;
    min-height: 125px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__img--basket {
    justify-self: flex-end;
    background-image: url('../images/basket.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }