footer.footer
  .container.footer--container
    img(src="./images/logotype.png", alt="logo")
    nav.footer--nav
      include nav.pug
    div.footer--socials
      ul.footer--socials-ul
        li
          a(href="")
             img(src="./images/instagram.png", alt="logo")
        li
          a(href="")
             img(src="./images/facebook.png", alt="logo")
        li
          a(href="")
             img(src="./images/pinterest.png", alt="logo")
      

    