header.header
  .container.header--container
    a(href="")
      img(src="./images/logotype.png", alt="logo")
    nav
      include nav.pug
    a(href="") + 7 (923) 999 55 66
    a(href="").header__img--basket