main.container
    div.main--heading
        h1.main--h1 Каталог

    form.main-form(action='#' method='get')
        include form.pug
        

    section.main-catalog 
        article.main__article
            img(src="./images/photo-8.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-7.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-6.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-5.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-4.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-3.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-2.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-1.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        article.main__article
            img(src="./images/photo-2.jpg", alt="").main__article-img
            h3.main__article-h3 Букет «Весна»
            p 1 500 ₽
            button.main__article-button Заказать

        a(href="").main__button Смотреть еще